p {
  font-family: Roboto;
}

h5 {
  font-family: Roboto;
}

.space-between-block {
  height: 80px;
}

.nav-item {
  text-align: center;
}

.d-flex {
  text-align: right;
}

.carousel-inner img {
  width: 100%;
}

.carousel-inner h5 {
  font-size: 70%;
}

.carousel-inner p {
  font-size: 300%;
}

.container-block {
  margin-left: 10em;
}

.card-title {
  font-size: 80%;
  color: #088776;
}

.title-swipe-pic {
  display: flex;
}

.view-all-swipe-pic-- {
  display: flex;
  text-align: end;
  font-family: Roboto;
}

.view-all-swipe-pic-- span {
  color: #088776;
  text-align: right;
  height: 120%;
}

.card-list {
  display: flex;
}

.title-block-3 {
  font-size: 80%;
  color: #088776;
  font-family: Roboto;
}

.block-3 {
  margin-left: 10em;
}

.text-block-3 {
  font-size: 24px;
  line-height: 1em;
  font-family: Roboto;
}

.far fa-gem {
  text-align: left;
}

.title-in-block-3 {
  font-family: Roboto;
}

.text-in-block-3 {
  font-family: Roboto;
  line-height: 1em;
}

.img-home-about {
  width: 50%;
}

.img-in-table-block-3 {
  text-align: right;
}

.table-block-4 {
  text-align: center;
  margin-left: 16em;
}

.img-in-table-block-4 {
  text-align: left;
}

.title-block-4 {
  font-size: 24px;
  font-family: Roboto;
  text-align: left;
}

.text-in-block-4 {
  text-align: left;
}

.button-block-4 {
  text-align: left;
}

.card-text {
  text-align: left;
}

.card-title {
  text-align: left;
}

.block-5 {
  margin: 10em;
}

.bar-get-inspired {
  display: flex;
}

.view-all-get-inspired-- {
  display: flex;
  text-align: end;
  font-family: Roboto;
}
.grid {
  width: 100%;
}

.img-block-6 {
  width: 100%;
}
.txt-block-6 {
  font-family: Roboto;
}
.block-6 {
  background-color: #f8f8f8;
  margin: 10em;
}
.text-block-6 {
  vertical-align: middle;
}

.block-7 {
  display: flex;
  margin: 10em;
}

.footer-bar {
  background-color: #088776;
  color: white;
  vertical-align: middle;
}

.bar {
  background-color: #088776;
}

.footer-title {
  font-size: 80%;
  color: #088776;
}
.footer p {
  color: grey;
}

.footer span {
  color: grey;
}
